.page-wrapper
  display: flex
  flex-direction: column
  overflow: hidden
  .banner
    background-image: url('/assets/images/DSC_0695-WB.jpg')
    background-color: var(--background-gray)
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    padding: 10em 0 19.75em 0
    .inner
      padding: 2em
    .row
      display: flex
      align-items: center
      margin-bottom: 0.8em
      padding-bottom: 0.4em
      border-bottom: solid 2px rgba(255, 255, 255, 0.125)
      .logo
        $image-size: 5em
        background: url('/assets/images/logo-white-line-circle.png')
        background-repeat: no-repeat
        background-size: cover
        width: $image-size
        min-width: $image-size
        height: $image-size
      h2
        color: var(--white)
        font-size: 2.25em
        margin: 0
        line-height: 1.3em

  .wrapper
    $diagonalHeight: 3.5em
    position: relative
    margin-bottom: $diagonalHeight
    &:last-child
      margin-bottom: 0
      padding-bottom: 2.5em
    .inner
      display: flex
      align-items: center
      justify-content: space-between
      .image
        $image-size: 10em
        border-radius: 100%
        flex-shrink: 0
        width: $image-size
        height: $image-size
        overflow: hidden

    &.section-up
      background-color: var(--yellow)
      .image
        margin-left: 3em
      &::before
        content: ' '
        height: $diagonalHeight
        position: absolute
        top: ($diagonalHeight * -2)
        border-left: 100vw solid transparent
        border-bottom: $diagonalHeight solid var(--yellow)
      &::after
        content: ' '
        height: $diagonalHeight
        position: absolute
        bottom: ($diagonalHeight * -2)
        border-left: 100vw solid transparent
        border-top: $diagonalHeight solid var(--yellow)
    &.section-down
      background-color: var(--white)
      .image
        margin-right: 3em
      &::before
        content: ' '
        height: $diagonalHeight
        position: absolute
        top: ($diagonalHeight * -2)
        border-right: 100vw solid transparent
        border-bottom: $diagonalHeight solid var(--white)
      &::after
        content: ' '
        height: $diagonalHeight
        position: absolute
        bottom: ($diagonalHeight * -2)
        border-right: 100vw solid transparent
        border-top: $diagonalHeight solid var(--white)
    &.section-down, &.section-up
      &:last-child
        &::after
          border: none

    &.ideas
      .content
        width: 100%
        .ideas-container
          display: flex
          flex-wrap: wrap
          .idea
            flex: 0 0 25%
            display: flex
            flex-direction: column
            align-items: center
            padding: 1em
            margin: 1em
            border-radius: 5px
            border: solid 2px var(--black)
            background-color: var(--white)
            .idea-icon
              $image-size: 5em
              background-repeat: no-repeat
              background-size: cover
              width: $image-size
              height: $image-size
            label
              font-size: 16.5pt
              font-weight: 700
              line-height: 1.65
            &.study
              .idea-icon
                background-image: url('/assets/images/study.svg')
            &.education
              .idea-icon
                background-image: url('/assets/images/Education.svg')
            &.discipleship
              .idea-icon
                background-image: url('/assets/images/followers.svg')
            &.art
              .idea-icon
                background-image: url('/assets/images/art.svg')
            &.wardrobe
              .idea-icon
                background-image: url('/assets/images/wardrobe.svg')
            &.library
              .idea-icon
                background-image: url('/assets/images/library.svg')
    &.how
      .item
        display: flex
        align-items: center
        margin: 1em 0
        .highlight
          font-weight: 500
        > div:first-child
          margin-right: 1em
        .icon
          $image-size: 4em
          background-repeat: no-repeat
          background-size: cover
          width: $image-size
          height: $image-size
          min-width: $image-size
        .surprise
          background-image: url('/assets/images/surprise.svg')
        .land
          background-image: url('/assets/images/land.svg')
        .m2
          background-image: url('/assets/images/area.svg')
        .idea
          background-image: url('/assets/images/idea.svg')
        .installments
          background-image: url('/assets/images/installments.svg')
        &.bar
          display: flex
          flex-direction: column
          align-items: center
          $barWidth: 80%
          .percentage-bar
            $barHeight: 1em
            border: 4px solid var(--black)
            border-radius: 5px
            height: $barHeight
            width: $barWidth
            margin: 0
            box-sizing: content-box
            .fill
              width: 33%
              height: $barHeight
              background-color: var(--yellow)
          .values
            width: $barWidth
            display: flex
            justify-content: space-between

    &.form
      .inner
        justify-content: center

    &.socials
      .social-icons
        display: flex
        justify-content: center

        .social-icon
          $image-size: 5em
          background-repeat: no-repeat
          background-size: cover
          width: $image-size
          height: $image-size
          &.facebook
            background-image: url('/assets/images/facebook.svg')
          &.instagram
            background-image: url('/assets/images/instagram.svg')
            margin-right: 2em

.wrapper
  .image
    background-repeat: no-repeat
    background-size: cover
  &.spotlight
    .image
      background-position: center
      background-image: url('/assets/images/DSC_0663.jpg')
  &.where
    .image
      background-position: top
      background-image: url('/assets/images/DSC_0684.jpg')

.inner
  margin: 1em auto
  width: 55em
  h2
    &.center
      margin: 1em auto
      text-align: center

.incorrect
  text-decoration: line-through

@media(max-width: 600px)
  .inner
    width: 100%
  .page-wrapper
    .banner
      background-position: center
    .wrapper
      .inner
        width: 100%
        padding: 0 1.5em 0 1.5em
        flex-direction: column
        .image
          $image-size: 14em
          margin-bottom: 1em
          height: $image-size
          width: $image-size
        .content
          .major
            padding-bottom: 1em
            border-bottom: 2px solid var(--black)
      &.section-up
        .inner
          .image
            align-self: flex-end
      &.section-down
        .inner
          .image
            align-self: flex-start
      &.spotlight
        .inner
          flex-direction: column-reverse
      &.ideas
        .content
          .ideas-container
            .idea
              margin: 0 0 1em 0
              flex: 0 0 100%
      &.form
        app-donation-form
        width: 100%
