<div class="page-wrapper">
  <section class="banner">
    <div class="inner">
      <div class="row">
        <div class="logo"></div>
        <h2>Raices de amor</h2>
      </div>
    </div>
  </section>

  <section class="wrapper section-up spotlight">
    <div class="inner">
      <div class="content">
        <h2 class="major">Pero capaz que nos conoces como el meren</h2>
        <!-- <p>Pero capaz que nos conoces como el meren</p> -->
        <p>
          Somos un grupo de jóvenes que desde hace 3 años estamos trabajando en Villa Harding Green.
        </p>
        <p>
          Cada sábado compartimos tardes de juegos, charlas y meriendas con los nenes del barrio y sus familias.
        </p>
      </div>
      <div class="image"></div>
    </div>
  </section>

  <section class="wrapper section-down where">
    <div class="inner">
      <div class="image"></div>
      <div class="content">
        <h2 class="major">Pero donde especificamente?</h2>
        <!-- <p>Pero donde especificamente?</p> -->
        <p>
          Ehhh... bueno, donde podemos. En la plaza del barrio o en algún lugar que nos presten.
        </p>
        <p>
          Y la verdad que el no tener un lugar propio nos limita los días y horarios que podemos ir y en muchas cosas que pensamos hacer. Además queremos darle a los nenes un lugar cómodo donde podamos compartir juntos.
        </p>
      </div>
    </div>
  </section>

  <section class="wrapper section-up ideas">
    <div class="inner">
      <div class="content">
        <h2 class="major">Tenemos pensado</h2>
        <!-- <p>Tenemos pensado</p> -->
        <div class="ideas-container">
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>Apoyo escolar</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>Capacitaciones</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>Discipulados</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>?</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>?</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>?</label>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper section-down how">
    <div class="inner">
      <div class="content">
        <h2 class="major">Cómo?</h2>
        <!-- <p>Cómo?</p> -->
        <p>
          Tenemos la loca idea de comprar un terreno y pensamos una forma en la que podes ser parte.
        </p>
        <div class="item">
          <div class="land icon"></div>
          <div class="text">Ya encontrámos un terreno que cumple con lo que necesitamos.</div>
        </div>
        <div class="item">
          <div class="text">El costo del metro cuadrado es de  <span class="highlight">$3200</span>. Pero obviamente que todavia no tenemos el dinero para comprarlo</div>
          <div class="m2 icon"></div>
        </div>
        <div class="item">
          <div class="idea icon"></div>
          <div class="text">Por eso pensamos en juntar <span class="highlight">800 personas</span> que esten dispuestas a colaborar con el valor de 1/2 metro cuadrado y así entre todos poder cumplir este anhelo que tenemos.</div>
        </div>
        <div class="item">
          <div class="text">Podes hacerlo en 1, 2 o 3 cuotas. Y si no llegas con la plata pero queres ayudar, no importa el monto porque todo suma.</div>
          <div class="installments icon"></div>
        </div>
        <h2 class="center">Te sumas?</h2>
        <div class="item bar">
          <div class="percentage-bar">
            <div class="fill"></div>
          </div>
          <div class="values">
            <span>0</span>
            <span>800</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper section-up form">
    <div class="inner">
      <form submit="send()">
        <div class="fields">
          <div class="field">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field">
            <label for="lastname">Apellido</label>
            <input type="text" name="lastname" id="lastname" />
          </div>
          <div class="field">
            <label for="phone">Teléfono</label>
            <input type="number" name="phone" id="phone" />
          </div>
          <div class="field">
            <label for="lastname">Monto</label>
            <div class="amounts">
              <div class="amount">$1600</div>
              <div class="amount">$3200</div>
              <div class="amount">$4800</div>
              <div class="input-amount">
                <span class="currency">$</span>
                <input class="input-amount" type="number" name="amount" placeholder="1000" maxlength="5" max="99999"/>
              </div>
            </div>
          </div>
          <div class="field">
            <label for="lastname">Cuotas</label>
            <select name="installments" id="installment-select">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
        <div class="actions">
          <div class="button-box">
            <button>Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
