<div class="page-wrapper">
  <section class="banner">
    <div class="inner">
      <div class="row">
        <div class="logo"></div>
        <h2>Raíces de amor</h2>
      </div>
    </div>
  </section>

  <section class="wrapper section-up spotlight">
    <div class="inner">
      <div class="content">
        <h2 class="major">Pero capaz que nos conocés como el meren</h2>
        <!-- <p>Pero capaz que nos conoces como el meren</p> -->
        <p>
          Somos un grupo de jóvenes que desde hace 3 años estamos trabajando en el barrio Villa Harding Green.
        </p>
        <p>
          Cada sábado compartimos una tarde de juegos, charlas y merienda con los nenes del barrio y sus familias. Queremos brindar un espacio donde no solo tengan una merienda, sino también enseñar valores que afecten y transformen su vida desde la raíz por medio del amor de Jesús.        </p>
      </div>
      <div class="image"></div>
    </div>
  </section>

  <section class="wrapper section-down where">
    <div class="inner">
      <div class="image"></div>
      <div class="content">
        <h2 class="major">Pero, ¿dónde específicamente?</h2>
        <!-- <p>Pero donde especificamente?</p> -->
        <p>
          Ehhh... bueno, donde podemos. En la plaza del barrio o en algún lugar que nos presten.
        </p>
        <p>
          Y, la verdad, que el no tener un lugar propio nos limita los días y horarios que podemos ir y en muchas cosas que pensamos hacer. Además, queremos darle a los niños y sus familias un lugar cómodo donde podamos compartir juntos.
        </p>
      </div>
    </div>
  </section>

  <section class="wrapper section-up ideas">
    <div class="inner">
      <div class="content">
        <h2 class="major">Tenemos pensado</h2>
        <!-- <p>Tenemos pensado</p> -->
        <div class="ideas-container">
          <div class="idea study">
            <div class="idea-icon"></div>
            <label>Apoyo escolar</label>
          </div>
          <div class="idea education">
            <div class="idea-icon"></div>
            <label>Capacitaciones</label>
          </div>
          <div class="idea discipleship">
            <div class="idea-icon"></div>
            <label>Discipulados</label>
          </div>
          <div class="idea art">
            <div class="idea-icon"></div>
            <label>Talleres artísticos</label>
          </div>
          <div class="idea wardrobe">
            <div class="idea-icon"></div>
            <label>Ropero comunitario</label>
          </div>
          <div class="idea library">
            <div class="idea-icon"></div>
            <label>Biblioteca comunitaria</label>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper section-down how">
    <div class="inner">
      <div class="content">
        <h2 class="major">¿Cómo?</h2>
        <!-- <p>Cómo?</p> -->
        <p>
          Tenemos la loca idea de comprar un terreno y pensamos una forma en la que podés ser parte.
        </p>
        <div class="item">
          <div class="land icon"></div>
          <div class="text">Ya encontrámos un terreno que cumple con lo que necesitamos.</div>
        </div>
        <div class="item">
          <div class="text">El costo del metro cuadrado es de  <span class="highlight">$3200</span>. Pero, obviamente, todavía no tenemos el dinero para comprarlo.</div>
          <div class="m2 icon"></div>
        </div>
        <div class="item">
          <div class="idea icon"></div>
          <div class="text">Por eso pensamos en juntar <span class="highlight">800 personas</span> que estén dispuestas a colaborar con el valor de 1/2 metro cuadrado y así, entre todos, poder cumplir este anhelo que tenemos.</div>
        </div>
        <div class="item">
          <div class="text">Podés hacerlo en 1, 2 o 3 cuotas. Y si no llegás con la plata, pero querés ayudar, no importa el monto, porque todo suma.</div>
          <div class="installments icon"></div>
        </div>
        <h2 class="center">¿Te sumás?</h2>
        <div class="item bar">
          <div class="percentage-bar">
            <div class="fill"></div>
          </div>
          <div class="values">
            <span>0</span>
            <span>800</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper section-up form">
    <div class="inner">
      <app-donation-form></app-donation-form>
    </div>
  </section>
</div>
