<form submit="send()" [formGroup]="form" (ngSubmit)="submit()">
  <div class="fields">
    <div class="field">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" formControlName="name"/>
    </div>
    <div class="field">
      <label for="lastname">Apellido</label>
      <input type="text" name="lastname" id="lastname" formControlName="lastname"/>
    </div>
    <div class="field">
      <label for="phone">Teléfono</label>
      <input type="number" name="phone" id="phone" formControlName="phone"/>
    </div>
    <div class="field">
      <label for="lastname">Monto</label>
      <div class="amounts">

        <div *ngFor="let amount of amounts" class="amount" [class.selected]="amountCtrl.value === amount" (click)="setAmount(amount)">${{amount}}</div>
        <div class="input-amount" [class.selected]="customAmountCtrl.value">
          <span class="currency">$</span>
          <input class="input-amount" type="number" name="amount" placeholder="1000" maxlength="5" max="99999" formControlName="customAmount"/>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="lastname">Cuotas</label>
      <select name="installments" id="installment-select" formControlName="installments">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
  <div class="actions">
    <div class="button-box">
      <button [disabled]="form.invalid">Enviar</button>
    </div>
  </div>
</form>
